/* Reset cơ bản */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Căn giữa form */
body {
  margin: 0;
  height: 100vh;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form */
#login-form {
  width: 300px;
  background: #111;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

/* Label */
#login-form label {
  display: block;
  color: #ddd;
  margin-bottom: 5px;
  font-size: 14px;
}

/* Input */
#login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #555;
  background: transparent;
  color: #fff;
  outline: none;
}

#login-form input:focus {
  border-color: #00bcd4;
}

/* Button */
#login-form button {
  width: 100%;
  padding: 10px;
  background: #00bcd4;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

#login-form button:hover {
  background: #00a5bb;
}
.title-container{
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 3px;
}
.title-container a{
    background-color: #00bcd4;
    border-radius: 15px;
    padding: 5px; 
    text-decoration: none;
    color: black;

}
.title-container a:hover{
    background-color: #ccff34;
}